* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    background-color: black;
    justify-content: center;
    align-content: center;
}

.button {
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.button input, .button button {
    margin: 0 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(17, 15, 15);
    flex-basis: 70%;
}   

.container div {
    border: 1px solid rgb(192, 192, 183);
    flex-grow: 1;
    flex-basis: var(--valor);
}
